---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---




1. Hang Su, Xiaolei Wang, Wei Liu, Xiaoning Zhang, Min Xu. Modelling and accelerating the passenger evacuation process in a bi-modal system with bus and e-hailing modes after mass gathering events [J]. Travel Behaviour and Society,2024, Vol. 35.（SCI/SSCI, JCR Q1, 中科院一区TOP, IF=5.1）

2. Hang Su, Min Xu, Xiaolei Wang, Xiaoning Zhang. A region-dependent e-hailing service pricing strategy for rapid massive evacuation [J]. Transportation Research Part D: Transport and Environment. 2024, Vol. 136.（SCI/SSCI, JCR Q1, 中科院一区TOP, IF=7.3）

3. Hang Su, Xiaolei Wang, Min Xu, Xiaoning Zhang. Boarding space design for passenger evacuation with bus and e-hailing services under a surge in traffic demand. Travel Behaviour and Society. 2025. （SCI/SSCI, JCR Q1, 中科院一区TOP, IF=5.1）




{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



